---
layout: archive
title: "Research, Talks, and Publications"
permalink: /research/
author_profile: true
---
<p>
I am a hydrologist and PhD candidate at UMass Amherst, and a researcher with 
<a href="https://projects.livingobservatory.org/people/lwatts">Living Observatory</a>.
I study the role groundwater plays in freshwater wetland 
restorations in former cranberry bogs in southeastern Massachusetts. 
We are answering questions around how water moves through these wetlands, 
and how flowpaths change in response to restoration and changing climate. 
I use a wide variety of tools to answer these questions, including isotope 
geochemistry, fiber-optic distributed temperature sensing, and thermal drone mapping.
Broadly, my interests include: wetland hydrology, flood hazard mitigation, 
temperature as a groundwater tracer, drones as geoscience tools. 
Always, I seek projects that are community driven or address a community need.</p>

<p>
<strong>Current Research Projects</strong><br>
- Hydrology of Wetland Restoration in Cranberry Bogs
- Atlantic White Cedar Swamps: Hydrologic Drivers of Tree Regeneration
- Improving Flood Forecasts in New England
</p>

<p>
<strong>Tools</strong>
<ul>
  <li>Isotope Geochemistry</li>
  <li>Fiber-optic Distributed Temperature Sensing</li>
  <li>Thermal Drone Mapping</li>
</ul>
</p>

<p>
<strong>Publications</strong>
<ul>
  <li> Watts, C.L., Hatch, C.E., Wicks, R. 
    Mapping groundwater discharge seeps by thermal UAS imaging on a wetland 
    restoration site.<em>Frontiers in Environmental Science</em>. 
    10-2022 (2023). <a href="https://doi.org/10.3389/fenvs.2022.946565" target="_blank"></a>https://doi.org/10.3389/fenvs.2022.946565</a> </li>
  <li> Baruah, A., Dhital, S., Cohen, S., Tran, .D., Elhaddad, H., 
    Watts, C.L., Devi, D., Chen, Y., Pruitt, C. FIMserv v.1.0: 
    A Tool for Streamlining Flood Inundation Mapping (FIM) 
    Using the United States Operational Hydrological Forecasting Framework. 
    <em>Environmental Modelling and Software </em> vol. 192 (2025) <a https://doi.org/10.1016/j.envsoft.2025.106581>https://doi.org/10.1016/j.envsoft.2025.106581</a>
  </ul>
</p>


<!--
{% include base_path %}
{% for post in site.pages %}
  {% include archive-single.html %}
{% endfor %}
-->