---
layout: archive
title: "Research, talks, and publications"
permalink: /research/
author_profile: true
---

I am a hydrologist and PhD candidate at UMass Amherst, and a researcher with 
<a href="https://projects.livingobservatory.org/people/lwatts">Living Observatory</a>.
I study the role groundwater plays in freshwater wetland 
restorations in former cranberry bogs in southeastern Massachusetts. 
We are answering questions around how water moves through these wetlands, 
and how flowpaths change in response to restoration and changing climate. 
I use a wide variety of tools to answer these questions, including isotope 
geochemistry, fiber-optic distributed temperature sensing, and thermal drone mapping.
Broadly, my interests include: wetland hydrology, flood hazard mitigation, 
temperature as a groundwater tracer, drones as geoscience tools. 
Always, I seek projects that are community driven or address a community need.

<strong>tools</strong>
<ul>
  <li>Isotope Geochemistry</li>
  <li>Fiber-optic Distributed Temperature Sensing</li>
  <li>Thermal Drone Mapping</li>
</ul>

<!--
{% include base_path %}
{% for post in site.pages %}
  {% include archive-single.html %}
{% endfor %}
-->