---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
<p></p>
I have benefited from fantastic mentors who supported an open exchange of ideas, shared their own thrill of discovery, 
and encouraged me to push my own boundaries. In all my teaching, I aim to pass on that mentoring to my own students. 
Accordingly, my teaching philosophy is grounded in the idea that through strong mentorship, students can push their 
own boundaries to become independent thinkers and scientists. Grounded in the liberal arts, I seek to improve students' abilities to
interpret scientific data, and effectively communicate their ideas. 
</p>

<p>
<strong>Courses Taught</strong> <br>
Hydrology and Hydrogeology: GEOL 229 <br>
Department of Geology and Geography, Mount Holyoke College, South Hadley, MA<br>
Spring 2025, 16 students, 4 credit hours</p>

<p>							
Hydrogeology (graduate and undergraduate students): GEOSCI 587<br>
Department of Earth Geographic and Climate Sciences, University of Massachusetts Amherst<br>
Spring 2023, 18 students, 5 credit hours </p>

<p>
The Earth: GEOSCI 101<br>
Department of Earth Geographic and Climate Sciences, University of Massachusetts Amherst<br>
Fall 2022, 20 students, 1 credit hour</p>

<p>
<strong>Teaching Assistant Positions</strong> <br>
Fall 2023 - 	GEOSCI 703/705: Geoscience Graduate Seminar <br>
Spring 2024	  Department of Earth Geographic and Climate Sciences, UMass Amherst<br>

Fall 2023	    GEOSCI 319/519: Aqueous Environmental Geochemistry<br>
              Department of Earth Geographic and Climate Sciences, UMass Amherst<br>

2020, 2021	  GEOGRAPHY 110: Global Environmental Change<br>
              Department of Earth Geographic and Climate Sciences, UMass Amherst<br>

Fall 2014 - 	FYS 139: Biogeochemical Cycling in the Avery Brook Watershed<br>
Spring 2015 	Smith College Geosciences, Northampton, MA
</p>

<p>
**TEACHING AREAS**<br>
Hydrology<br>
Geomorphology<br>
Sedimentology<br>
Climate and Weather<br>
Water Pollution/Aqueous Geochemistry<br>
Natural Hazards and Disasters

#This will link to the teaching posts in teaching/
#{% include base_path %}

#{% for post in site.teaching reversed %}
#  {% include archive-single.html %}
#{% endfor %}
