---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---


**Teaching**
I have benefited from fantastic mentors who supported an open exchange of ideas, shared their own thrill of discovery, 
and encouraged me to push my own boundaries. In all my teaching, I aim to pass on that mentoring to my own students. 
Accordingly, my teaching philosophy is grounded in the idea that through strong mentorship, students can push their 
own boundaries to become independent thinkers and scientists. Grounded in the liberal arts, I seek to improve students' abilities to
interpret scientific data, and effectively communicate their ideas. 

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
